<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
<link rel="stylesheet" href="style.css" type="text/css" media="screen" />
</head>
<body>
<div id="body_wrapper">
  <!-- Start of Page Header -->
  <div id="page_header">
    <!-- Start of Company Name -->
    <div id="company_name">
      <h1><span>Hot Sauce Pepper Palace</span></h1>
    </div>
    <!-- End of Company Name -->
    <!-- Start of Header Navigation -->
    <div id="header_nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Recipes</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <!-- End of Header Navigation -->
    <div class="clearthis">&nbsp;</div>
  </div>
  <!-- End of Page Header -->
  <!-- Start of Left Sidebar -->
  <div id="leftsidebar_1">
    <div id="leftsidebar_2">
      <div id="leftsidebar_content">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Duct Tape Series</a></li>
          <li><a href="#">Hot Sauce</a></li>
          <li><a href="#">Jerk Sauce</a></li>
          <li><a href="#">Steak Sauce</a></li>
          <li><a href="#">BBQ Sauce</a></li>
          <li><a href="#">Rub &amp; Spice</a></li>
          <li><a href="#">Country Store</a></li>
          <li><a href="#">Recipes</a></li>
          <li><a href="#">Photo Gallery</a></li>
          <li><a href="#">Payment Options</a></li>
          <li><a href="#">Weber Grills</a></li>
          <li><a href="#">Privacy Info</a></li>
          <li><a href="#">Collectors</a></li>
          <li><a href="#">Feedback</a></li>
          <li><a href="#">Gift Sets</a></li>
          <li><a href="#">Marinades</a></li>
          <li><a href="#">Geezer</a></li>
          <li><a href="#">Check Out</a></li>
          <li><a href="#">Caviar</a></li>
          <li><a href="#">Scientific American</a></li>
          <li><a href="#">Guest Book</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End of Left Sidebar -->
  <!-- Start of Main Content -->
  <div id="maincontent_1">
    <div id="maincontent_2">
      <div id="maincontent_content">
        <p> This is a template designed by free website templates for you for free you can replace all the text by your own text. This is just a place holder so you can see how the site would look like. </p>
        <p> If you're having problems editing the template please don't hesitate to ask for help on the forum. You will get help as soon as possible. You can also use the forum to tell us what you like or dislike and what you would like to see more. </p>
        <p> Your feedback is very important to us and we will do everything to fulfil your wishes. <a href="#">more...</a> </p>
        <p> Please don't remove the link at the bottom. We have worked hard to make the templates and ask that you respect our hard work so we can continue providing you with high quality templates. </p>
        <p> If you really want to remove the link you can buy a copyright free version on our website. Thanks. </p>
      </div>
    </div>
  </div>
  <!-- End of Main Content -->
  <div class="clearthis">&nbsp;</div>
  <!-- Start of Page Footer -->
  <div id="page_footer">
    <div id="ringoffire">
      <div class="box"> This site is a member of The Ring Of Fire <br />
        A linked list of Chile websites </div>
    </div>
    <div id="paypalverified"> <a href="#"><span>Paypal Verified</span></a> </div>
    <div id="copyright_info"> Webdesign by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> <br />
      <small><strong>&copy;</strong> Copyright Hot Sauce Pepper Palace.com 2005-2006</small> </div>
    <div class="clearthis">&nbsp;</div>
  </div>
  <!-- End of Page Footer -->
</div>
</body>
</html>
