<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Luxury Restaurant</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="container">
  <div id="header"> <img src="images/logo.jpg" width="438" height="93" alt="" id="logo" /> <img src="images/slogan.gif" width="190" height="81" alt="" id="slogan" />
    <ul class="menu">
      <li class="btn_1"><a href="#">home page</a></li>
      <li class="line"></li>
      <li class="btn_2"><a href="#">our history</a></li>
      <li class="line"></li>
      <li class="btn_3"><a href="#">menu</a></li>
      <li class="line"></li>
      <li class="btn_4"><a href="#">specials</a></li>
      <li class="line"></li>
      <li class="btn_5"><a href="#">reservations</a></li>
      <li class="line"></li>
      <li class="btn_6"><a href="#">contacts</a></li>
    </ul>
  </div>
  <div id="content">
    <div id="leftPan">
      <div id="welcome">
        <h2></h2>
        <img src="images/img_welcome.jpg" width="72" height="72" alt="" />
        <p><span class="headline">Morbi volutpat leo in ligula.</span><br />
          Donec varius, erat in placerat pharetra, lorem est gravida erat, nec accumsan turpis erat sed velit. Duis malesuada, lacus sit amet dictum lobortis <a href="#">| more</a></p>
        <div class="clear"></div>
      </div>
      <div id="services">
        <h2></h2>
        <p class="headline2">Morbi volutpat leo in ligula. Integer vel magna. Quisque ut magna et nisi bibendum sagittis. Fusce elit ligula.</p>
        <ul id="u01">
          <li><a href="#">Donec varius, erat in </a></li>
          <li><a href="#">placerat pharetra, </a></li>
          <li><a href="#">lorem est gravida erat, </a></li>
          <li><a href="#">nec accumsan turpis </a></li>
          <li><a href="#">erat sed velit. Duis </a></li>
          <li><a href="#">malesuada, lacus sit </a></li>
        </ul>
        <ul id="u02">
          <li><a href="#">Donec varius, erat in </a></li>
          <li><a href="#">placerat pharetra, </a></li>
          <li><a href="#">lorem est gravida erat, </a></li>
          <li><a href="#">nec accumsan turpis </a></li>
          <li><a href="#">erat sed velit. Duis </a></li>
          <li><a href="#">malesuada, lacus sit </a></li>
        </ul>
        <div class="clear"></div>
      </div>
    </div>
    <div id="rightPan">
      <div id="recipes">
        <h2></h2>
        <p class="headline2">Morbi volutpat leo in ligula. Integer vel magna. Quisque ut magna et nisi bibendum sagittis. Fusce elit ligula.</p>
        <div class="recipes_topic"> <img src="images/img_recipes.jpg" width="72" height="72" alt="" />
          <p><span class="headline">Morbi volutpat leo in ligula.</span> <br />
            onec varius, erat in placerat pharetra, lorem est gravida erat, nec accumsan turpis erat sed velit. Duis malesuada, lacus sit amet dictum lobortis <a href="#">| more</a></p>
          <div class="clear"></div>
        </div>
        <div class="recipes_topic"> <img src="images/img_recipes-05.jpg" width="72" height="72" alt="" />
          <p><span class="headline">Nunc egestas mauris ac leo</span> <br />
            onec varius, erat in placerat pharetra, lorem est gravida erat, nec accumsan turpis erat sed velit. Duis malesuada, lacus sit amet dictum lobortis <a href="#">| more</a></p>
          <div class="clear"></div>
        </div>
        <div class="recipes_topic"> <img src="images/img_recipes-06.jpg" width="72" height="72" alt="" />
          <p><span class="headline">Morbi volutpat leo in ligula.</span> <br />
            onec varius, erat in placerat pharetra, lorem est gravida erat, nec accumsan turpis erat sed velit. Duis malesuada, lacus sit amet dictum lobortis <a href="#">| more</a></p>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="clear" id="end"></div>
  </div>
  <div id="footer">
    <p><a href="#">HOME</a> | <a href="#">OUR HISTORY</a> | <a href="#">MENU</a> | <a href="#">SPECIALS</a> | <a href="#">RESERVATIONS</a> | <a href="#">NEWS</a> | <a href="#">CONTACTS</a><br/>
      Copyright &copy; Your Company Name | Design by <a href="http://freshtemplates.com/">Website Templates</a></p>
  </div>
</div>
</body>
</html>
