<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>VDS 2</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/navigacija.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jqueryslidemenu.js"></script>
<script type="text/javascript" src="js/jcarousel.js"></script>
<script type="text/javascript" src="js/init.js"></script>
<script type="text/javascript" src="js/fixit.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    $(".latestnews").jCarouselLite({
        vertical: true,
        hoverPause: true,
        visible: 2,
        auto: 3000,
        speed: 1000,
        btnNext: ".next",
        btnPrev: ".prev"
    });
});
</script>
</head>
<body>
<div id="main1">
  <div id="main2">
    <div id="main3">
      <div id="main4">
        <div id="top">
          <div id="navigacija" class="jqueryslidemenu">
            <ul class="primary-menu">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Service</a></li>
              <li class="drop"><a href="#">Partner &raquo;</a>
                <ul>
                  <li><a href="#">sample submenu</a></li>
                  <li><a href="#">sample submenu</a></li>
                  <li><a href="#">sample submenu</a></li>
                  <li><a href="#">sample submenu</a></li>
                </ul>
              </li>
              <li class="drop"><a href="#">Articles &raquo;</a>
                <ul>
                  <li><a href="#">sample submenu</a></li>
                  <li><a href="#">sample submenu</a></li>
                  <li><a href="#">sample submenu</a></li>
                </ul>
              </li>
              <li><a href="#">Contact</a></li>
              <li class="last"><a href="#">News archive</a> </li>
            </ul>
          </div>
        </div>
        <div class="clear"></div>
        <div id="container">
          <div id="logo">
            <div id="languages">
              <ul>
                <li class="hr"><a id="liCroatian" href="#">Hrvatski</a></li>
                <li class="en"><a id="liEnglish" href="#">English</a></li>
                <li class="it"><a id="liItaliano" href="#">Italiano</a></li>
              </ul>
            </div>
            <div class="clear"></div>
            <div id="name"><a href="#"><img src="images/valeron.jpg" width="384" height="63" alt="" /></a></div>
            <div id="message">Pellentesque faucibus libero et purus</div>
          </div>
          <div id="header">
            <div id="animacija">
              <!-- Rotate Slides Here -->
              <img src="images/slides/p_0001.jpg" width="676" height="277" alt="" /></div>
            <div id="novosti">
              <div class="newsbox">
                <h2>LAST NEWS</h2>
                <div class="latestnews">
                  <ul class="news">
                    <li> <img src="images/img_latest1.jpg" alt="" class="imgleft imgborder" /><span class="date">30. april 2011.</span><br />
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
                      <a href="#">Iscrpnije</a></li>
                    <li><img src="images/img_latest2.jpg" alt="" class="imgleft imgborder" /><span class="date">29. april 2011.</span><br />
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit ame.</li>
                    <li><img src="images/img_latest3.jpg" alt="" class="imgleft imgborder" /><span class="date">28. april 2011.</span><br />
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                  </ul>
                </div>
                <!-- end of latestnews -->
                <div class="navscroll"> <a href="#" class="prev">Prev</a> <a href="#" class="next">Next</a> </div>
              </div>
            </div>
          </div>
          <div class="clear"></div>
          <div class="sadrzaj">
            <div class="box_lijevo">
              <div class="jedan676">
                <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
                <p><strong>Lorem ipsum dolor</strong> sit amet, consectetur adipiscing elit. Duis commodo vulputate aliquam. Ut egestas, orci eget congue interdum, lacus nunc placerat orci, sit amet convallis nibh leo vitae nisi. Ut sit amet felis sit amet orci <a href="#">feugiat venenatis</a> nec at nisl.</p>
              </div>
              <div class="clear"></div>
              <div class="dva">
                <h3>VISION</h3>
                <p><strong>Proin felis tortor</strong>, fringilla in consectetur vitae, tristique eget nisl. Duis condimentum vulputate arcu, et fringilla quam vestibulum sollicitudin. Aenean vel nisi quam. Nulla massa est, porttitor sed tempor sed, <a href="#">iaculis a enim.</a></p>
              </div>
              <div class="tri">
                <h3>MISION</h3>
                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <strong>Nulla nulla nisi,</strong> molestie id rutrum bibendum, consequat eget odio. Duis sed iaculis nunc. Quisque dictum interdum auctor. </p>
              </div>
            </div>
            <div class="box_desno">
              <h5>CONSECTETUR ADIPISCING</h5>
              <p><strong>Aenean vel nisi quam</strong><em>; </em><br />
                <em>Mauris tempor adipiscing mauris</em><br />
                <strong>Lorem:</strong><em> quam vestibulum sollicitudin</em></p>
              <div id="download">
                <div id="download_sredina">
                  <p><a href="#">LOREM IPSUM - april 2011.</a></p>
                  <p><a href="#">VULPUTATE 2011.</a></p>
                </div>
                <div class="clear"></div>
                <div id="download_dolje"></div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
<div id="footer_okvir">
  <div id="footer">
    <div class="footer_box1">
      <h6>DEUTSCHLAND</h6>
      <ul>
        <li><a href="#">AUGUSTINER</a></li>
        <li><a href="#">SCHNEIDER</a></li>
        <li><a href="#">ROTHAUS</a></li>
        <li><a href="#">KÖSTRITZER</a></li>
      </ul>
    </div>
    <div class="footer_box1">
      <h6>BELGIUM</h6>
      <ul>
        <li><a href="#">BLANCHE DE NAMUR</a></li>
        <li><a href="#">DUVEL</a></li>
        <li><a href="#">KWAK</a></li>
        <li><a href="#">CORSENDONK</a></li>
        <li><a href="#">PALM</a></li>
        <li><a href="#">AUGUSTIJN</a></li>
        <li><a href="#">CHIMAY</a></li>
        <li><a href="#">LINDEMANS</a></li>
      </ul>
    </div>
    <div class="footer_box1">
      <h6>BELGIUM</h6>
      <ul>
        <li><a href="#">GULDEN DRAAK</a></li>
        <li><a href="#">KARMELIET</a></li>
        <li><a href="#">RODENBACH</a></li>
        <li><a href="#">KASTEEL</a></li>
        <li><a href="#">STEENBRUGGE</a></li>
        <li><a href="#">DEUS</a></li>
        <li><a href="#">ROCHEFORT</a></li>
        <li><a href="#">ST. BERNARDUS</a></li>
        <li><a href="#">WESTMALLE</a></li>
      </ul>
    </div>
    <div class="footer_box1">
      <h6>BELGIUM</h6>
      <ul>
        <li><a href="#">MAREDSOUS</a></li>
        <li><a href="#">ORVAL</a></li>
        <li><a href="#">LIEFMANS</a></li>
        <li><a href="#">GOUDEN CAROLUS</a></li>
        <li><a href="#">ACHEL</a></li>
        <li><a href="#">BOON</a></li>
        <li><a href="#">LA CHOUFFE</a></li>
        <li><a href="#">BRIGAND</a></li>
      </ul>
    </div>
    <div class="footer_box1">
      <h6>USA</h6>
      <ul>
        <li><a href="#">BROOKLYN</a></li>
      </ul>
      <h6>ITALY</h6>
      <ul>
        <li><a href="#">BALADIN</a></li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="clear"></div>
<div id="copyright">Copyright &copy; <a href="#">Domain Name</a> | Design by <a target="_blank" href="http://www.valeron.net">VALERON design studio</a></div>
</body>
</html>
