<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head profile="http://gmpg.org/xfn/11">
<title>iLounge</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="style.css" type="text/css" media="screen" />
<script type="text/javascript" src="date.js"></script>
</head>
<body>
<div id="container">
  <div id="top">
    <div id="logo"></div>
    <div id="name">
      <h1><a href="#">iLounge</a></h1>
      <h2>Free CSS Website Template</h2>
    </div>
    <ul class="nav">
      <li class="current_page_item"><a href="#">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="#">Habitasse Dtate</a></li>
      <li><a href="#">Vestibulum</a></li>
    </ul>
    <div id="menu_pages">
      <ul>
        <li><a href="#">Anime</a> </li>
        <li><a href="#">Apple</a> </li>
        <li><a href="#">Articles</a> </li>
        <li><a href="#">Cartoons</a> </li>
        <li><a href="#">Comics</a> </li>
        <li><a href="#">Commentary</a> </li>
        <li><a href="#">Communities</a> </li>
        <li><a href="#">Nintendo Wii</a> </li>
        <li><a href="#">Play Station 3</a> </li>
        <li><a href="#">Sikandar</a> </li>
        <li><a href="#">ullamcorper</a> </li>
        <li><a href="#">xbox 360</a> </li>
      </ul>
    </div>
  </div>
  <div id="conte">
    <!-- first pass: show only the latest post -->
    <h1><a href="#">Featured Post Title</a></h1>
    <div class="line">
      <ul>
        <li class="ade">Nov 03, 2008</li>
        <li class="cai">Categorized Under: <a href="#">Play Station 3</a>, <a href="#">xbox 360</a></li>
        <li class="comi"><a href="#">No Comments &#187;</a></li>
      </ul>
    </div>
    <ul>
      <li class="ino">
        <div class="entry">
          <p>Aliquet tellus cras, arcu accumsan lorem in, vestibulum dolor mus, suscipit suspendisse sed volutpat rutrum a, enim ut montes vulputate tortor luctus auctor. Habitasse arcu cupiditate. Ligula mauris aptent interdum, sit est fusce arcu in sem, mattis. Pellentesque tincidunt, diam eget accumsan posuere,Ligula mauris aptent interdum, sit est fusce arcu in sem, mattis. Pellentesque tincidunt, diam eget accumsan posuere, est sapien rhoncus nunc, feugiat fermentum urna arcu ut est. Sed bibendum dolor eu orci. Sed sollicitudin, enim ut malesuada condimentum, mauris nisl ullamcorper ante, vitae ullamcorper metus nulla vitae est&#8230;.</p>
          <p style="text-align: center;"><img class="aligncenter" src="images/featured.jpg" alt="" width="624" height="187" /></p>
          <p>Vestibulum dolor mus, suscipit suspendisse sed volutpat rutrum a, enim ut montes vulputate tortor luctus auctor. Habitasse arcu cupiditate. Ligula mauris aptent interdum, sit est fusce arcu in sem, mattis. Pellentesque tincidunt, diam eget accumsan posuere,Ligula mauris aptent interdum, sit est fusce arcu in sem, mattis. Pellentesque tincidunt, diam eget accumsan posuere, est sapien rhoncus nunc, feugiat fermentum urna arcu ut est. Sed bibendum dolor eu orci. Sed sollicitudin, enim ut malesuada condimentum, mauris nisl ullamcorper ante&#8230; <a href="#" class="more-link">(Read More&#8230;)</a></p>
          <br />
          <br />
        </div>
      </li>
    </ul>
    <div class="custom_widget">
      <h2>About</h2>
      <img src="images/pic_2.gif" alt="" /> Suscipit suspendisse sed volutpat rutrum a, enim ut montes vulputate tortor luctus auctor. Habitasse arcu cupiditate. Ligula mauris aptent interdum, sit est fusce arcu in sem, mattis. Pellentesque tincidunt, diam eget accumsan posuere,Ligula mauris aptent interdum, sit est fusce arcu in sem, mattis. Pellentesque tincidunt, diam eget accumsan posuere, est sapien rhoncus nunc, feugiat fermentum urna arcu ut est. Sed bibendum dolor eu orci. Sed sollicitudin, enim ut malesuada condimentum, mauris nisl ullamcorper ante. Aliquet tellus cras, arcu accumsan lorem in, vestibulum dolor mus, vestibulum dolor mus, vestibulum dolor mus, suscipit suspendisse sed volutpat rutrum a, enim ut montes vulputate tortor luctus auctor. Habitasse arcu cupiditate. Ligula mauris aptent interdum, sit est fusce arcu in sem, mattis. Pellentesque tincidunt, diam eget accumsan posuere..... </div>
    <!-- second pass: show remaining posts -->
    <ul class="pose">
      <li>
        <div class="box">
          <h2><a href="#">Diam eget accumsan</a></h2>
          <ul>
            <li class="tex">
              <p>Ligula mauris aptent interdum, sit est fusce arcu in sem, mattis. Pellentesque tincidunt, diam eget accumsan posuere,Ligula mauris aptent interdum, sit est fusce arcu in sem, mattis. Pellentesque tincidunt, diam eget accumsan posuere, est sapien rhoncus nunc, feugiat fermentum urna arcu ut est. Sed bibendum dolor eu orci. Sed sollicitudin, enim ut malesuada condimentum, mauris [...]</p>
              <br />
            </li>
            <li class="comie"><img src="images/icon4.gif" alt="" /><a href="#">No Comments &#187;</a></li>
          </ul>
        </div>
        <div class="box">
          <h2><a href="#">Habitasse arcu cupiditate</a></h2>
          <ul>
            <li class="tex">
              <p>Aliquet tellus cras, arcu accumsan lorem in, vestibulum dolor mus, vestibulum dolor mus, vestibulum dolor mus, suscipit suspendisse sed volutpat rutrum a, enim ut montes vulputate tortor luctus auctor. Habitasse arcu cupiditate. Ligula mauris aptent interdum&#8230;</p>
              <br />
            </li>
            <li class="comie"><img src="images/icon4.gif" alt="" /><a href="#">5 Comments &#187;</a></li>
          </ul>
        </div>
        <div class="box">
          <h2><a href="#">Lorem Ipsum</a></h2>
          <ul>
            <li class="tex">
              <p>Suscipit suspendisse sed volutpat rutrum a, enim ut montes vulputate tortor luctus auctor. Habitasse arcu cupiditate. Ligula mauris aptent interdum, sit est fusce arcu in sem, mattis. Pellentesque tincidunt, diam eget accumsan posuere,Ligula mauris aptent interdum, sit est fusce arcu in sem, mattis.</p>
              <br />
            </li>
            <li class="comie"><img src="images/icon4.gif" alt="" /><a href="#">No Comments &#187;</a></li>
          </ul>
        </div>
        <div class="navigation">
          <div class="alignleft"><a href="#">Previous</a></div>
          <div class="alignright"></div>
        </div>
      </li>
    </ul>
    <ul class="pose">
      <li>
        <div class="box3">
          <h2>Featured YouTube Video</h2>
          <ul>
            <li class="texef">
              <object type="application/x-shockwave-flash" style="width:296px; height:223px;" data="http://www.youtube.com/v/KruzH82Z2qQ">
                <param name="movie" value="http://www.youtube.com/v/KruzH82Z2qQ" />
              </object>
              <div style="font-size: 0.8em"><a href="#">Get your own valid XHTML YouTube embed code</a></div>
            </li>
          </ul>
        </div>
        <div class="box2">
          <h2>Recent Articles</h2>
          <ul>
            <li>4:08 pm</li>
            <li><a href="#">Diam eget accumsan</a></li>
          </ul>
          <ul>
            <li>4:02 pm</li>
            <li><a href="#">Habitasse arcu cupiditate</a></li>
          </ul>
          <ul>
            <li>4:01 pm</li>
            <li><a href="#">Lorem Ipsum</a></li>
          </ul>
          <ul>
            <li>1:42 pm</li>
            <li><a href="#">Magazine Style</a></li>
          </ul>
        </div>
        <div class="box2">
          <h2>Recent Comments</h2>
          <ul>
            <li>4:08 pm</li>
            <li><a href="#">Diam eget accumsan</a></li>
          </ul>
          <ul>
            <li>4:02 pm</li>
            <li><a href="#">Habitasse arcu cupiditate</a></li>
          </ul>
          <ul>
            <li>4:01 pm</li>
            <li><a href="#">Lorem Ipsum</a></li>
          </ul>
          <ul>
            <li>1:42 pm</li>
            <li><a href="#">Magazine Style</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div id="sidebar">
    <div id="clock">
      <script type="text/javascript" language="JavaScript">document.write(dateString(new Date()))</script>
    </div>
    <div id="adcontainer">
      <div id="adboxes">
        <ul>
          <li><a href="#"><img src="images/ad_spot.gif" width="125" height="125" border="0" alt="" /></a></li>
          <li><a href="#"><img src="images/ad_spot.gif" width="125" height="125" border="0" alt="" /></a></li>
          <li><a href="#"><img src="images/ad_spot.gif" width="125" height="125" border="0" alt="" /></a></li>
          <li><a href="#"><img src="images/ad_spot.gif" width="125" height="125" border="0" alt="" /></a></li>
        </ul>
      </div>
      <div class="cl"></div>
    </div>
    <div id="rss_search">
      <form id="searchform" method="get" href="#">
        <h2>Search</h2>
        <input type="text" name="s" id="s" size="17" value="type, hit enter" onblur="setTimeout('closeResults()',2000); if (this.value == '') {this.value = '';}"  onfocus="if (this.value == 'type, hit enter') {this.value = '';}" />
        <div style="visibility:hidden">
          <input name="sbutt" type="submit" value="Find" alt="Submit"  />
        </div>
      </form>
      <div id="rss_pi"><a href="#">rss</a></div>
      <ul>
        <li><a href="#">Subscribe to Feeds</a></li>
        <li>Subscribe by e-mail:</li>
        <li>
          <form href="#" method="post">
            <input type="text" id="sub_mail" name="email" />
          </form>
        </li>
      </ul>
      <div class="cl"></div>
    </div>
    <div id="right-sidebar" class="sidebar">
      <ul>
        <li>
          <h2 class="widgettitle">Categories</h2>
          <ul>
            <li><a href="#">Anime</a> </li>
            <li><a href="#">Apple</a> </li>
            <li><a href="#">Articles</a> </li>
            <li><a href="#">Cartoons</a> </li>
            <li><a href="#">Comics</a> </li>
            <li><a href="#">Commentary</a> </li>
            <li><a href="#">Communities</a> </li>
            <li><a href="#">Nintendo Wii</a> </li>
            <li><a href="#">Play Station 3</a> </li>
            <li><a href="#">Sikandar</a> </li>
            <li><a href="#">ullamcorper</a> </li>
            <li><a href="#">xbox 360</a> </li>
          </ul>
        </li>
        <li id="meta" class="widget widget_meta">
          <h2 class="widgettitle">Meta</h2>
          <ul>
            <li><a href="#">Log in</a></li>
            <li><a href="#">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
            <li><a href="#">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
          </ul>
        </li>
        <li id="pages" class="widget widget_pages">
          <h2 class="widgettitle">Pages</h2>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Habitasse Dtate</a></li>
            <li><a href="#">Vestibulum</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div id="footer"> <a href="http://wpjunction.com/" class="wpjunc">Web Design</a> by <a href="http://www.colombiahosting.com.co/">Hosting</a> in Colombia for <a href="http://www.hotel-reservation-morocco.com/">Compare Morocco Hotel Rates</a>, <a href="http://www.logo-ontwerpers.be">Logo Maken</a> and <a href="http://www.everlossreview.com">Everloss review</a>. </div>
</div>
</body>
</html>
